<div class="container container-fluid">
  <table>
      <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Telefono</th>
      </thead>
      <tbody>
      <tr  *ngFor="let owner of Owners">
          <td >
              {{owner.id}}
      </td>
          <td>
          {{owner.firstName}}
      </td>
      <td>
          {{owner.lastName}}
      </td>
      <td>
          {{owner.address}}
      </td>
      <td>
          {{owner.city}}
      </td>
      <td>
        {{owner.telephone}}
    </td>
    <td>
        <button type="button" (click) = editar(owner)>Editar</button>
    </td>
      <td>
          <button type="button" (click) = borrar(owner)>Eliminar</button>
      </td>
          </tr>
      </tbody>
  </table>
  <button type="button" class="btn btn-info" (click) = aniadir()>Añadir nuevo Propietario</button>
</div>

