<div class="container container-fluid">
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName"
            formControlName="firstName" required>


        </div>

        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" required>

        </div>

        <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" formControlName="address" id="address" required>
        </div>

        <div class="form-group">
            <label for="city">Ciudad</label>
            <input type="text" class="form-control" formControlName="city" id="city" required>

        </div>
        <div class="form-group">
            <label for="telephone">Telefono</label>
            <input type="text" class="form-control" formControlName="telephone" id="telephone" required>

        </div>

        <div class="form-group">
            <div>
                <button class="btn btn-primary " [disabled]="!form.valid" type="submit">Añadir Propietario</button>
            </div>
        </div>

</form>
</div>