<!--<button class="btn btn-primary" (click)="ocultar()">Ocultar</button>
<button class="btn btn-secundary" (click)="mostrarList()">Mostrar</button>-->

<div class="container container-fluid">

    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>teléfono</th>
        </thead>
        <tbody>
        <tr>
          <td >
              {{ownerDetail.firstName}}
        </td>

          <td>
            {{ownerDetail.lastName}}
      </td>

      <td>
        {{ownerDetail.address}}
      </td>

      <td>
        {{ownerDetail.city}}
      </td> 
      
      <td>
        {{ownerDetail.telephone}}
      </td>      

          </tr>
        </tbody>
      </table>
    
    </div>